nav {
    width: 100%;
    height: 120px;
    background-color: black;
    position: relative;
    .nav_img {
        img {
            background-color: white;
            margin-top: 10px;
        }

        :hover {
            cursor: pointer;
        }
    }
    .nav_icon {
        position: absolute;
        top: 25px;
        right: 50px;
        i {
            color: rgb(255, 255, 255);
            z-index: 5;
            font-size: 40px;

            display: none;
        }
        @media screen and (max-width: 500px) {
            i {
                display: block;
            }
        }
    }
}

.nav_left {
    height: 120px;
    @include Flex(space-around, center);

    background-color: black;
    a {
        color: white;
        display: flex;
        align-items: center;
        font-size: 18px;

        &:hover {
            color: #f78225;
        }
    }

    @media screen and (max-width: 500px) {
        .nav_left {
            background-color: black;
            transform: translateY(-500px);
        }
    }
}

//  index.html

main {
    #menu {
        width: 100%;
        height: 500px;

        #gif {
            display: flex;
            justify-content: center;
        }

        #left {
            height: 500px;
            
            @include F-direc(column, center, end);
            p {
                @include Paraq(30px, 700, 37px, left);
            }

            @media screen and (max-width: 500px) {
                #left {
                    height: 0 !important;
                }
            }
        }

        .icon {
            width: 100%;
            @include Flex(space-around, center);

            padding: 15px 0;

            :hover {
                cursor: pointer;
            }
        }

        #right {
            width: 100%;
            height: 500px;
            @include F-direc(column, center, end);
            .right_text {
                width: 100%;
                h2 {
                    font-size: 30px;
                    font-weight: 700;
                }
                p {
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }

        @media screen and (max-width: 500px) {
            #menu {
                height: 0;
            }
        }
    }
    .img_item {
        img {
            width: 100%;
            gap: 15px;
            padding: 15px 0;

            :hover {
                cursor: pointer;
            }
        }

        .relative {
            position: relative;
            width: 100%;
            cursor: pointer;

            &:hover {
                .hover {
                    opacity: 1;
                }
            }
            img {
                display: block;
                width: 100%;
                height: auto;
            }
            .hover {
                @include Hover(absolute, 0, 0, 0, 0, 100%, 100%, 0.3s ease-in-out, #f78225, 0);

                .rabbit {

                    @include Rabbit (white,absolute,50%,50%,translate(-50%,-50%),center,50px,5);
                    &:hover {
                        background-color: #f78225;
                        opacity: 0.4;
                    }
                }
            }
        }

        @media screen and (max-width: 500px) {
            .img_item {
                margin-top: 0;
            }
        }
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: $bg-black;

    .nav_img {
        img {
            color: white;
            margin-top: 10px;
            cursor: pointer;
        }
    }

    #mail {
        p {
            font-size: 18px;
            font-weight: 500;
            color: white;
            padding: 16px 0;

            cursor: pointer;
        }
        .monkey {
            font-size: 18px;
            font-weight: 500;
            color: white;
            padding: 24px 0;
        }
    }

    #end {
        .end {
            p {
                font-size: 18px;
                font-weight: 500;
                color: white;
                padding: 16px 0;
                cursor: pointer;
            }
        }
        .icon {
            width: 70%;
            gap: 16px;
            @include Flex(space-around, center);

            img {
                padding: 15px 0;
            }
            cursor: pointer;
        }
    }
    @media screen and (max-width: 500px) {
    }
}

// cars

#back {
    display: flex;
    align-items: center;
    img {
        padding: 15px;
    }
    span {
        @include Span(30px, 400, 0);
    }
}

main {
    #rabbit {
        h2 {
            font-size: 40px;
            font-weight: 700;
        }
        p {
            line-height: 1.8;
            font-size: 20px;
            font-weight: 400;
        }
    }

    .img {
        img {
            width: 100%;
            padding: 15px 0;
        }
    }
}

// contant

main {
    #are_you {
        img {
            width: 100%;
        }
        .are_you {
            h1 {
                font-size: 60px;
                font-weight: 700;
            }
            h2 {
                font-size: 30px;
                font-weight: 700;
            }
            p {
                font-size: 20px;
                font-weight: 400;
                padding: 14px 0;
            }
        }
    }

    #more_than {
        h3 {
            font-size: 30px;
            font-weight: 700;
            padding: 20px;
        }

        img {
            width: 100%;

            object-fit: cover;
        }
    }

    #what_do {
        h3 {
            font-size: 60px;
        }
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        .left_item {
            .text_item {
                width: 327px;
                height: 67px;
                background-color: $bg-black;
                color: white;
                @include Flex(center, center);
                font-weight: 700;
                font-size: 25px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
    #what_do1 {
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        .left_item {
            .text_item {
                width: 170px;
                height: 67px;
                background-color: $bg-black;
                color: white;
                @include Flex(center, center);
                font-weight: 700;
                font-size: 25px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    #web {
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        .left_item {
            .text_item {
                width: 170px;
                height: 67px;
                background-color: $bg-black;
                color: white;

                @include Flex(center, center);
                font-weight: 700;
                font-size: 25px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}

.tel {
    img {
        width: 100%;
    }
}

#loader {
    @include Flex(center, center);
    @include Loader(fixed, 0, 0, black, 100%, 100%);
}
